<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="header">
                <h1>Transition to Life After Prison
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="resource-category-list">
                <%= link_to "Dependants" %>
                <button class="resource-category resource-category-dependants">
                    Dependants
                </button>
                <button class="resource-category resource-category-job">
                    Job 
                </button>
                <button class="resource-category resource-category-friends-family">
                    Friends & Family 
                </button>
                <button class="resource-category resource-category-housing">
                    Housing 
                </button>
                <button class="resource-category resource-category-medical">
                    Medical 
                </button>
                <button class="resource-category resource-category-legal">
                    Legal 
                </button>
                <button class="resource-category resource-category-food-clothing">
                    Food & Clothing 
                </button>
                <button class="resource-category resource-category-transport">
                    Transport 
                </button>

                <button class="start-tlap-buton">
                    Let's get started...
                </button>
            </div>
        </div>
    </div>
</div>