<p id="notice"><%= notice %></p>

<p>
  <strong>Display text:</strong>
  <%= @question_option.display_text %>
</p>

<%= link_to 'Edit', edit_question_option_path(@question_option) %> |
<%= link_to 'Back', question_options_path %>
